<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-list lines="none" *ngFor="let recipe of recipes">
        <ion-item>
          <ion-label position='floating'>Recipe Created on</ion-label>
          <ion-datetime display-format='D MMM YYYY H:mm' [(ngModel)]="recipe.createTimestamp">
          </ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position='floating'>Recipe Name {{recipe.name}}</ion-label>
          <ion-input [(ngModel)]="recipe.name">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position='floating'>Number of People Can Eat</ion-label>
          <ion-input [(ngModel)]="recipe.noOfPeopleCanEat"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position='floating'>Ingredients</ion-label>
          <ion-textarea [(ngModel)]="recipe.ingredients"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position='floating'>Instructions</ion-label>
          <ion-textarea [(ngModel)]="recipe.instructions"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position='floating'>Veg?</ion-label>
          <ion-checkbox [(ngModel)]="recipe.isVeg"></ion-checkbox>
        </ion-item>
        <ion-button (click)='updateRecipe(recipe)' value="Update Recipe">
          Update</ion-button>
        <ion-button (click)='deleteRecipe(recipe)' value="Update Recipe">
          Delete</ion-button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>